@import '../../assets/styles/mixins.scss';

.info {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 8px 16px;
}

.title {
  margin: 0 0 4px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #5e5e5e;
}

.author {
  margin: 0 0 8px 0;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #8d8d8d;
}

.genre-list {
  @include list-reset;
  margin-bottom: 8px;
}

.genre-item {
  display: flex;
}

.genre-item:not(:last-child) {
  margin: 0 0 4px 0;
}

.genre {
  padding: 4px 10px;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
  letter-spacing: 0.4px;
  background: #db8070;
  border-radius: 2px;
}

.cart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: auto;
}

.price {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #5e5e5e;
}

.button-buy {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 30px;
  margin: 0 0 0 8px;
  padding: 4px 9px;
  background: #da6551;
  border: none;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.button-buy:hover {
  background-color: #db8070;
}

.button-buy:active {
  background-color: #d23c21;
}
