.cart__page {
  display: grid;
  max-width: 1312px;
  margin: 0 auto;
}

.cart__page ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cart__page ul li {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  padding: 24px 32px;
  box-shadow: inset 0 -1px 0 0 #bbbbbb;
}

.cart__page ul li:first-child {
  box-shadow: inset 0 -1px 0 0 #bbbbbb, inset 0 1px 0 0 #bbbbbb;
}

.cart__page img {
  object-fit: cover;
  object-position: center center;
}

.cart__id {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: #5e5e5e;
}

.cart__title {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #5e5e5e;
}

.cart__author {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #8d8d8d;
}

.cart__quantity {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: min-content 40px min-content;
}

.cart__button {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: #f7f8f9;
  border-radius: 4px;
}

.cart__price {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #5e5e5e;
}

.cart__remove {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  border: none;
}
