.cart ul li {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  padding: 25px 32px;
  box-shadow: inset 0 -1px 0 0 #bbbbbb;
}

.cart ul li:first-child {
  box-shadow: inset 0 -1px 0 0 #bbbbbb, inset 0 1px 0 0 #bbbbbb;
}

.cart img {
  object-fit: cover;
  object-position: center center;
}
