.rating {
  display: grid;
  align-items: center;
  grid-column: 2/3;
  grid-row: 1/2;
  grid-template-columns: auto auto;
  gap: 4px;
  padding: 4px 11px;
  background: #f5f5f5;
  border-radius: 0 0 0 8px;
}

.rating-icon {
  width: 8px;
  height: 8px;
}

.rating-item {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #5e5e5e;
}
