.app__container {
  max-width: 1312px;
  margin: 0 auto;
}

.app__title {
  margin: 0 0 24px 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #5e5e5e;
}

@media (max-width: 1344px) {
  .app__container {
    max-width: 672px;
  }
}

@media (max-width: 704px) {
  .app__container {
    max-width: 272px;
  }

  .app__title {
    margin-bottom: 16px;
  }
}
