.cover {
  position: relative;
  width: 136px;
  height: 160px;
  background-color: #d4d4d4;
}

.image {
  width: 136px;
  min-width: 136px;
  height: 160px;
  object-fit: cover;
  object-position: center center;
}
