.header {
  margin-bottom: 56px;
  background: #e9e7e7;
}

.header__container {
  display: flex;
  align-items: center;
  max-width: 1312px;
  margin: 0 auto;
  padding: 22px 0 24px 0;
}

.header__logo {
  display: inline-flex;
  margin-right: 220px;
}

.header__logo-icon {
  width: 168px;
  height: 24px;
}

.form {
  position: relative;
  width: 536px;
}

.form__label {
  width: 100%;
}

.form__search {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 56px 8px 56px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #c9c2c3;
  background: #ffffff;
  border: none;
  border-radius: 4px;
  outline: none;
  appearance: none;
}

.form__search::placeholder {
  color: #c9c2c3;
}

.form__search::-webkit-search-decoration,
.form__search::-webkit-search-cancel-button,
.form__search::-webkit-search-results-button,
.form__search::-webkit-search-results-decoration {
  appearance: none;
}

.form__search-icon {
  position: absolute;
  top: 8px;
  left: 20px;
}
