.header {
  margin-bottom: 56px;
  background: #e9e7e7;
  box-shadow: inset 0 -1px 0 0 #bbbbbb;
}

.header__container {
  display: flex;
  max-width: 1312px;
  margin: 0 auto;
  padding: 26px 0 46px 0;
}

@media (max-width: 1344px) {
  .header__container {
    max-width: 672px;
  }
}

@media (max-width: 704px) {
  .header__container {
    max-width: 272px;
  }
}
