.search {
  position: relative;
  width: 100%;
  max-width: 536px;
  margin-right: 240px;
}

.search__label {
  width: 100%;
}

.search__input {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 56px 8px 56px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #c9c2c3;
  background: #ffffff;
  border: none;
  border-radius: 4px;
  outline: none;
  appearance: none;
}

.search__input:hover {
  background-color: #f7f7f7;
}

.search__input:focus {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 1px #bcb3b4;
}

.search__input--active {
  border-radius: 4px 4px 0 0;
  box-shadow: inset 0 0 0 1px #bcb3b4;
}

.search__input::placeholder {
  color: #c9c2c3;
}

.search__input::-webkit-search-decoration,
.search__input::-webkit-search-cancel-button,
.search__input::-webkit-search-results-button,
.search__input::-webkit-search-results-decoration {
  appearance: none;
}

.search__icon {
  position: absolute;
  top: 8px;
  left: 20px;
}

.search__list {
  position: absolute;
  top: 31px;
  left: 0;
  z-index: 2;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 16px 56px;
  list-style: none;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: inset 0 0 0 1px #bcb3b4;
}

.search__item:first-child {
  padding: 8px 0;
  box-shadow: inset 0 1px 0 0 #bbbbbb, inset 0 -1px 0 0 #bbbbbb;
}

.search__item {
  padding: 8px 0;
  box-shadow: inset 0 -1px 0 0 #bbbbbb;
}

.search__item-title {
  grid-row: 1/2;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #787878;
}

.search__item-author {
  grid-row: 2/3;
  margin: 0;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #8d8d8d;
}

.search__item-link {
  display: grid;
  row-gap: 4px;
  grid-template-columns: auto 1fr;
  text-decoration: none;
}

.search__item-icon {
  align-self: center;
  justify-self: end;
  grid-row: 1/3;
  transform: rotate(180deg);
}

.search__item-icon path {
  fill: #bbbbbb;
}

@media (max-width: 1344px) {
  .search {
    max-width: 320px;
    margin-right: 60px;
  }
}

@media (max-width: 704px) {
  .search {
    max-width: 112px;
    margin-right: 16px;
  }

  .search__input {
    padding: 8px 25px 8px 40px;
    font-size: 12px;
    line-height: 14px;
  }

  .search__icon {
    top: 7px;
    left: 12px;
  }
}
