*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
  font-weight: 400;
  font-family: var(--basic-font);
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 56px;
  width: 100%;
}

@media (max-width: 1344px) {
  .root {
    row-gap: 40px;
  }
}

@media (max-width: 704px) {
  .root {
    row-gap: 24px;
  }
}
