*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
  font-weight: 400;
  font-family: 'Roboto', 'Arial', sans-serif;
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 40px;
}

.root {
  width: 100%;
  height: 100%;
}
