@import './mixins.scss';

.swiper-slider {
  position: relative;
}

.swiper-container {
  width: 1344px;
  padding-right: 16px;
  padding-left: 16px;
}

.swiper-wrapper {
  @include list-reset;
}

.swiper-button-prev {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 9px 13px 9px 11px;
  background: #e9e7e7;
  border: none;
  border-radius: 16px;
  outline: none;
  transform: translateY(-50%);
  cursor: pointer;
}

.swiper-button-next {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 2;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 9px 11px 9px 13px;
  background: #e9e7e7;
  border: none;
  border-radius: 16px;
  outline: none;
  transform: translateY(-50%);
  cursor: pointer;
}

.swiper-button-next-icon {
  transform: rotate(180deg);
}

.swiper-button-prev:hover .swiper-button-next-icon path,
.swiper-button-next:hover .swiper-button-next-icon path {
  fill: #da6551;
}

.swiper-button-prev:active .swiper-button-next-icon path,
.swiper-button-next:active .swiper-button-next-icon path {
  fill: #d23c21;
}

.swiper-pagination {
  display: flex;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #bbbbbb;
  border-radius: 50%;
  cursor: pointer;
}

.swiper-pagination-bullet:not(:last-child) {
  margin-right: 6px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #5e5e5e;
}

@media (max-width: 1344px) {
  .swiper-container {
    width: 704px;
  }
}

@media (max-width: 704px) {
  .swiper-container {
    max-width: 304px;
  }

  .banner-container .swiper-container {
    margin-bottom: 24px;
  }
}
