.book {
  display: grid;
  grid-template-columns: 136px 168px;
  grid-template-rows: 160px;
  text-decoration: none;
  background: #f5f5f5;
  border: 1px solid #ffffff;
}

.book:hover {
  border: 1px solid #dfdfdf;
}

@media (max-width: 1344px) {
  .book {
    grid-template-columns: 136px 184px;
  }
}

@media (max-width: 704px) {
  .book {
    grid-template-columns: 136px 136px;
  }
}
